<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title, link, meta)">
    <title th:replace="${title}">레이아웃 타이틀</title>

    <!-- 공통 view port | bootstrap.css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/css/bootstrap_base.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- logo font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">

    <!-- 메인 한글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <!-- Gowun Dodum 한글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <!-- 추가 -->
    <th:block th:replace="${link}" />
    <th:block th:replace="${meta}" />
</head>
<body>
    <!-- h1 로고 -->
    <h1 class="logo_icon" style="font-family: 'Yellowtail', cursive;" th:fragment="logo_h1">Modu Form</h1>

    <!-- 메인 헤더 -->
    <header th:fragment="body-header-main">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="speedometer2" viewBox="0 0 16 16">
                <path
                        d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
                <path fill-rule="evenodd"
                      d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
            </symbol>
            <symbol id="table" viewBox="0 0 16 16">
                <path
                        d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
            </symbol>
        </svg>
        <div class="p-1 navbar-dark bg-dark">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="navbar-brand d-flex align-items-center">
                        <h3 class="logo_icon" style="font-family: 'Yellowtail', cursive;">ModuForm</h3>
                    </a>
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li>
                            <a href="/#answer_point" class="nav-link text-white">
                                <svg style="fill: white;" class="bi d-block mx-auto mb-1" width="24" height="24">
                                    <use xlink:href="#speedometer2" />
                                </svg>
                                Answers
                            </a>
                        </li>
                        <li>
                            <a href="/surveys/lists" class="nav-link text-white">
                                <svg style="fill: white;" class="bi d-block mx-auto mb-1" width="24" height="24">
                                    <use xlink:href="#table" />
                                </svg>
                                Surveys
                            </a>
                        </li>
                    </ul>

                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    </form>

                    <div class="dropdown text-end">
                        <a id="user_toggle" style="cursor: pointer" class="d-block link-light text-decoration-none dropdown-toggle"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/css/image/user.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        </a>
                        <ul style="display:list-item; display: none;" id="user_dropdown" class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="/surveys/form">New survey..</a></li>
                            <li><a class="dropdown-item" th:href="@{/users/{userId} (userId=${user.id})}">profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a style="cursor: pointer" id="btn-logout" class="dropdown-item">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <input id="userNickName" type="hidden" th:value="${user.nickname}">
    </header>
</body>
</html>