<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: common_header(~{::title},~{::link}, ~{::meta})}">
    <title>설문 확인</title>
    <link href="/css/form-validation.css" rel="stylesheet">
    <meta name="theme-color" content="#7952b3">
</head>

<body class="bg-light">
<header th:replace="~{layout/header :: body-header-main}">
</header>
<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2 style="font-weight: bolder" th:text="${answerDto.answerCheckDto.title}" class="gowun-font-ko">설문 제목</h2>
            <p th:text="${answerDto.answerCheckDto.description}" class="lead">설문 설명</p>
        </div>

        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <div class="col-12">
                    <label th:text="#{label.answer.user_survey.nickname}" for="survey_user_nickname" class="form-label">설문 제공자 닉네임</label>
                    <input style="margin-bottom: 10px;" type="text" class="form-control" id="survey_user_nickname"
                           th:value="${answerDto.answerCheckDto.surveyUser.nickName}" disabled>
                </div>
                <div class="col-12">
                    <label th:text="#{label.answer.user_survey.email}" for="survey_email" class="form-label">설문 제공자 이메일</label>
                    <input style="margin-bottom: 10px;" type="text" class="form-control" id="survey_email"
                           th:value="${answerDto.answerCheckDto.email}" disabled>
                </div>

                <label th:text="#{label.answer.deadline}" for="survey_deadline" class="form-label">마감 날짜</label>
                <div class="input-group mb-3">
                    <input style="margin-bottom: 10px;" type="text" class="form-control" id="survey_deadline"
                           th:value="${#temporals.format(answerDto.answerCheckDto.deadLine, 'yyyy-MM-dd HH:mm:ss')}"
                           disabled>
                </div>
            </div>


            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3 gowun-font-ko">설문 응답</h4>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="anonymous_flag" id="anonymous_flag" value="on" th:checked="${answerDto.anonymousFlag}">
                    <label th:text="#{check.anonymous}" class="form-check-label" for="anonymous_flag">익명 응답</label>
                    <div th:text="#{label.check.anonymous}" id="emailHelp" class="form-text">체크 박스에 체크하시면 설문 제공자에게 프로필이 노출되지 않습니다.</div>
                </div>
                <hr class="my-4">
                <form>
                    <div class="col-12 question_wrapper"
                         th:each="question : ${answerDto.answerCheckDto.answerQuestions}">
                        <label style="font-weight: bold; color: darkgreen;" class="form-label"
                               th:text="|#{label.survey.question} ${questionStat.count}.|"></label>
                        <span th:switch="${question.questionType.name()}" style="float: right;">
                          <th:block th:case="'SHORT'">
                            <input name="que_type" type="hidden" value="short">
                            <p th:text="${question.questionType.description}">단답형</p>
                          </th:block>
                          <th:block th:case="'MULTIPLE'">
                            <input name="que_type" type="hidden" value="multiple">
                            <p th:text="${question.questionType.description}">객관식</p>
                          </th:block>
                        </span>

                        <p th:text="${question.question}" style="margin: 0; padding: 0;" class="lead mb-sm-2">질문</p>
                        <div th:if="${question.questionType.name() =='SHORT'}" class="form-floating short_answer">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="answer"
                                          th:text="${question.answer}"></textarea>
                            <label th:text="#{label.answer.question}" for="floatingTextarea">Answer</label>
                        </div>
                        <div th:if="${question.questionType.name() == 'MULTIPLE'}" class="form-check multiple_answer"
                             th:each="selectOption : ${question.distractor}">
                            <input class="form-check-input" th:value="${selectOption}" name="answer" type="radio"
                                   th:checked="${question.answer == selectOption}">
                            <label class="form-check-label"
                                   th:text="${selectOption}"></label>
                        </div>
                        <div style="margin-bottom: 35px"></div>
                    </div>
                </form>

                <hr class="my-4">

                <div style="width: 99%;" class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button th:text="#{button.answer.edit}" type="button" id="btn-answer-edit" class="btn btn-success">수정하기</button>
                    <button th:text="#{button.return}" type="button" onclick="history.back()" class="btn btn-secondary">취소</button>
                </div>
            </div>
        </div>
    </main>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2022~ Modu Form</p>
</footer>

<th:block th:replace="~{layout/footer :: common_footer}"/>
<script src="/js/answer.js"></script>
</body>

</html>