<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: common_header(~{::title},~{::link}, ~{::meta})}">
    <title>설문 작성</title>
    <link href="/css/form-validation.css" rel="stylesheet">
    <meta name="theme-color" content="#7952b3">
</head>

<body class="bg-light">
<header th:replace="~{layout/header :: body-header-main}">
</header>

<input id="userNickName" type="hidden" th:value="${session.userNickName}">
<div class="container">
    <main class="form-regist">
        <div class="py-5 text-center">
            <h1 style="font-family: 'Jua', sans-serif;" class="fw-light">설문 등록</h1>
        </div>

        <div class="col-md-10 container-md">
            <form class="needs-validation">
                <div class="row g-3">
                    <div class="col-12">
                        <label for="survey_title" class="form-label">제목</label>
                        <input type="text" class="form-control" id="survey_title" placeholder="설문의 제목을 입력해주세요"
                               value=""
                               required>
                        <div class="invalid-feedback">
                            설문 제목은 필수입니다.
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">설명</span>
                        <textarea class="form-control" id="survey_description" aria-label="With textarea"
                                  placeholder="설문에 대한 간단한 설명을 입력해주세요."
                                  required></textarea>
                    </div>
                    <div class="col-12">
                        <label for="survey_email" class="form-label">관리자 이메일</label>
                        <input type="text" class="form-control" id="survey_email" placeholder="유효한 이메일 주소를 입력하세요."
                               value="" required>
                        <div class="invalid-feedback">
                            이메일은 필수 입니다.
                        </div>
                    </div>

                    <label class="form-label">마감 날짜</label>
                    <div class="input-group mb-3">
                        <input type="date" class="form-control" id="date" required>
                        <span class="input-group-text">&</span>
                        <input type="time" class="form-control" id="time" required>
                    </div>

                    <div class="col-12">
                        <label class="form-label" for="survey_max">최대 응답 개수 <span class="text-muted">(선택)</span></label>
                        <input type="text" class="form-control" id="survey_max" placeholder="숫자를 입력하세요"
                               value="">
                    </div>
                    <hr class="my-4">

                    <h4 class="md-3 gowun-font-ko">질문 등록</h4>
                    <div id="question_box">
                        <div class="question_root">
                            <div class="col-12 question_wrapper">
                                <label class="form-label">Question </label>
                                <select class="form-select form-select-sm" name="question_type">
                                    <option selected>질문 유형 선택</option>
                                    <option th:each="quesType : ${quesTypes}"
                                            th:value="${quesType.name()}"
                                            th:text="${quesType.description}"></option>
<!--                                    <option value="SHORT">단답형</option>-->
<!--                                    <option value="MULTIPLE">객관식</option>-->
                                </select>
                                <input type="text" class="form-control" name="question" placeholder="질문을 입력하세요."
                                       value="" required>
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">
                    <button type="button" id="insertButton" class="w-100 btn btn-outline-dark btn-lg">질문 추가하기</button>
                    <hr class="my-4">
                    <button class="w-100 btn btn-primary btn-lg" type="button" id="btn-survey-save">설문 등록하기</button>
                </div>
            </form>
        </div>
    </main>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2022~ Modu Form</p>
</footer>

<th:block th:replace="~{layout/footer :: common_footer}"/>

<script src="/js/survey.js"></script>
<script src="/js/survey-interaction.js"></script>
</body>

</html>