<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: common_header(~{::title},~{::link}, ~{::meta})}">
    <title>설문 응답 확인</title>
    <link href="/css/form-validation.css" rel="stylesheet">
    <link href="/css/form-check-answer.css" rel="stylesheet">
    <meta name="theme-color" content="#7952b3">
</head>

<body class="bg-light">
<header th:replace="~{layout/header :: body-header-main}">
</header>

<main class="container">
    <nav class="navbar navbar-expand-lg bg-light rounded" aria-label="Twelfth navbar example">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample10"
                    aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
                <div class="btn-group">
                    <a th:href="@{/surveys/{id} (id=${queAnsList.surveyId})}" class="btn btn-primary">설문</a>
                    <a href="#" class="btn btn-primary active">응답</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <strong style="color:antiquewhite;">ModuForm</strong>
        </a>
        <div class="lh-1">
            <h1 class="h6 mb-0 text-white lh-1 gowun-font-ko" th:text="${queAnsList.surveyTitle}">설문 제목</h1>
        </div>
        <span style="display: flex; margin-left: auto;">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong style="color:floralwhite" th:text="|응답 ${queAnsList.answerCount}개|">응답 개수</strong>
        </a>
      </span>
    </div>


    <div style="text-align: center;" class="my-3 p-3 bg-body rounded shadow-sm">
        <h5 style="font-size: 1.25rem; color:darkorchid;" class="border-bottom pb-2 mb-0 form-text">
            응답한
            사용자
        </h5>
        <details>
            <summary class="form-text" style="text-align: center; font-size: 1rem; margin-top: 2vh;">목록 보기</summary>
            <div class="table-responsive">
                <table class="table text-center" style="text-align: center; width: 90%; margin: auto;">
                    <thead>
                    <tr>
                        <th style="width: 25%; color: coral;">닉네임</th>
                        <th style="width: 70%; color:olivedrab;">이메일</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="user : ${queAnsList.userList}">
                        <th style="margin: auto; text-align: center" scope="row" class="text-start">
                            <p th:if="${user.anonymousFlag}" class="form-text">익명</p>
                            <a th:unless="${user.anonymousFlag}" th:href="@{/users/{id} (id=${user.userId})}" class="btn btn-secondary" th:text="${user.userNickname}">사용자 닉네임</a>
                        </th>
                        <td>
                            <p th:if="${user.anonymousFlag}" style="text-align: center" class="form-text">"BLIND"</p>
                            <input th:unless="${user.anonymousFlag}"  style="text-align: center" class="form-control" type="text" th:value="${user.email}"
                                   aria-label="Disabled input example" disabled readonly>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </details>
    </div>

    <hr style="margin-top: 2.0rem; margin-bottom: 40px;" class="my-lg-5">

    <div th:each="question : ${queAnsList.questionList}" class="my-3 p-3 bg-body rounded shadow-sm">
        <h5 style="text-align: center; font-size: 1.25rem;"
            class="border-bottom pb-2 mb-0 form-text"
            th:text="|Question ${questionStat.count}. ${question.question}|">
            Question
        </h5>

        <th:block th:if="${question.questionType.name() == 'MULTIPLE'}">
            <div th:each="distractor : ${question.distractor}" style="margin-bottom: 40px; width: 100%;">
                <div th:with="percentage = ${distractor.percentage}" style="display:inline-block; width: 100%;">
                    <div style="padding-left: 1.5rem;" class="d-flex text-muted pt-3">

                        <div style="display: flex;justify-content: space-between; align-items: center;padding: 8px 12px;"
                             class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div style="">
                                <span class="d-flex">
                                  <h5 style=" color: darkcyan; display: block;" th:text="|ㆍ${distractor.distractor}|">선택지</h5>
                                </span>
                                <strong class="text-gray-dark" th:text="|응답 수 : ${distractor.count} / |">응답 수</strong>
                                <strong class="text-gray-dark" th:text="'비율 : ' + (${distractor.count == 0} ? 0 : (${percentage})) + '%'">비율</strong>
                            </div>

                            <progress th:classappend="${percentage < 30} ? (${percentage < 15}? 'progress_low' : 'progress_middle') : 'progress_high'"
                                      style="display: inline-flex; width: 70%; justify-content: center; text-align: center;"
                                      id="progress" th:value="${distractor.count}" min="0" th:max="${queAnsList.answerCount}"></progress>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>

        <details style="text-align: center;">
            <summary class="form-text" style="text-align: center; font-size: 1rem; margin-top: 2vh;">자세히 보기
            </summary>
            <div th:if="${question.questionType.name() == 'MULTIPLE'}" class="table-responsive">
                <table style="margin-top: 1.5rem" class="table text-center">
                    <thead style="text-align: center;">
                    <tr>
                        <th th:classappend="${question.distractor.size() < 4 } ? 'column-th3-usr': 'column-th4-usr'">User nickname</th>

                        <th th:classappend="${question.distractor.size() <= 2} ? 'column-th2':
                        (${question.distractor.size() <= 3 } ? 'column-th3':
                        (${question.distractor.size() <= 4 } ? 'column-th4':
                        (${question.distractor.size() <= 5 } ? 'column-th5')))"
                            th:each="dist : ${question.distractor}"
                            th:text="${dist.distractor}">선택지</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="answerUser : ${question.answerUser}">
                            <th th:if="${answerUser.anonymousFlag}" scope="row" class="text-start">익명</th>
                            <th th:unless="${answerUser.anonymousFlag}" th:text="${answerUser.user.nickName}" scope="row" class="text-start">User nickname</th>
                            <td th:each="dist: ${question.distractor}">
                                <svg th:if="${answerUser.answer.equals(dist.distractor)}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path
                                            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                                </svg>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${question.questionType.name() == 'SHORT'}" class="table-responsive">
                <table style="margin-top: 1.5rem" class="table text-center">
                    <thead style="text-align: center;">
                    <tr>
                        <th class="column-short-usr">User nickname</th>
                        <th class="column-short">Response</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="answerUser : ${question.answerUser}">
                        <th th:if="${answerUser.anonymousFlag}" th:text="${answerUser.user.nickName}" scope="row" class="text-start">익명</th>
                        <th th:unless="${answerUser.anonymousFlag}" th:text="${answerUser.user.nickName}" scope="row" class="text-start">User nickname</th>
                        <td>
                            <div th:text="${answerUser.answer}" class="form-text">Response</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </details>
    </div>
</main>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2022~ Modu Form</p>
</footer>

<th:block th:replace="~{layout/footer :: common_footer}"/>
<script src="/js/survey.js"></script>
</body>

</html>