<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: common_header(~{::title},~{::link}, ~{::meta})}">
    <title>설문 작성</title>
    <link href="/css/user-main.css" rel="stylesheet">
    <link href="/css/form-validation.css" rel="stylesheet">
    <meta name="theme-color" content="#7952b3">
</head>

<body class="bg-light">
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a th:href="@{/${session.userNickName}}" class="navbar-brand d-flex align-items-center">
                <h4 th:replace="~{layout/header :: logo_h4}">logo</h4>
            </a>
            <a th:href="@{/users/${session.userNickName}}">
                <strong id="user_detail" th:text="${session.userName}"></strong>
            </a>
        </div>
    </div>
</header>
<input id="userNickName" type="hidden" th:value="${session.userNickName}">
<div class="container">
    <main class="form-regist">
        <div class="py-5 text-center">
            <h1 id="logo_icon">설문 등록</h1>
        </div>

        <div class="col-md-10 container-md">
            <h4 class="md-3">회식 참여 조사</h4>
            <form class="needs-validation">
                <div class="row g-3">
                    <div class="col-12">
                        <label for="survey_title" class="form-label">제목</label>
                        <input type="text" class="form-control" id="survey_title" placeholder="설문의 제목을 입력해주세요"
                               value="회식 참여 조사"
                               required>
                        <div class="invalid-feedback">
                            설문 제목은 필수입니다.
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">설명</span>
                        <textarea class="form-control" id="survey_description" aria-label="With textarea"
                                  placeholder="설문에 대한 간단한 설명을 입력해주세요."
                                  required></textarea>
                    </div>
                    <div class="col-12">
                        <label for="survey_email" class="form-label">관리자 이메일</label>
                        <input type="text" class="form-control" id="survey_email" placeholder="유효한 이메일 주소를 입력하세요."
                               value="" required>
                        <div class="invalid-feedback">
                            이메일은 필수 입니다.
                        </div>
                    </div>

                    <label class="form-label">마감 날짜</label>
                    <div class="input-group mb-3">
                        <input type="date" class="form-control" id="date" required>
                        <span class="input-group-text">&</span>
                        <input type="time" class="form-control" id="time" required>
                    </div>

                    <div class="col-12">
                        <label class="form-label" for="survey_max">최대 응답 개수 <span class="text-muted">(선택)</span></label>
                        <input type="text" class="form-control" id="survey_max" placeholder="숫자를 입력하세요"
                               value="">
                    </div>
                    <hr class="my-4">

                    <h4 class="md-3">질문 등록</h4>

                    <div class="col-12">
                        <label for="question1" class="form-label">질문 1.</label>
                        <select class="form-select form-select-sm" name="question_type" id="type1" aria-label=".form-select-sm example">
                            <option selected>질문 유형 선택</option>
                            <option value="SHORT">단답형</option>
                            <option value="MULTIPLE">객관식</option>
                        </select>
                        <input type="text" class="form-control" name="question" id="question1" placeholder="질문을 입력하세요."
                               value="회식에 참여할 예정이십니까?"
                               required>

                    </div>
                    <hr class="my-4">

                    <div class="col-12">
                        <label for="question2" class="form-label">질문 2.</label>
                        <select class="form-select form-select-sm" name="question_type" id="type2" aria-label=".form-select-sm example">
                            <option selected>질문 유형 선택</option>
                            <option value="SHORT">단답형</option>
                            <option value="MULTIPLE">객관식</option>
                        </select>
                        <input type="text" class="form-control" name="question" id="question2" placeholder="질문을 입력하세요."
                               value="참여자의 성함을 입력해주세요."
                               required>
                    </div>
                    <hr class="my-4">

                    <div class="col-12">
                        <label for="question3" class="form-label">질문 3.<span class="text-muted">(선택)</span></label>
                        <select class="form-select form-select-sm" name="question_type" id="type3" aria-label=".form-select-sm example">
                            <option selected>질문 유형 선택</option>
                            <option value="SHORT">단답형</option>
                            <option value="MULTIPLE">객관식</option>
                        </select>
                        <input type="text" class="form-control" name="question" id="question3" placeholder="질문을 입력하세요."
                               value="추천할만한 회식 장소가 있으십니까?" required>
                    </div>
                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" type="button" id="btn-survey-save">설문 등록하기</button>
                </div>
            </form>
        </div>
    </main>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2022~ Modu Form</p>
</footer>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="/js/survey.js"></script>
</body>

</html>