<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>SpringEL 표현식</h1>
  <ul>Object
      <li>${member.username} = <span th:text="${member.username}"></span></li>
      <li>${member['username']} = <span th:text="${member['username']}"></span></li>
      <li>${member.getUsername()} = <span th:text="${member.getUsername()}"></span></li>
  </ul>
  <ul>List
      <li>${members[0].username} = <span th:text="${members[0].username}"></span></li>
      <li>${members[0]['username']} = <span th:text="${members[0]['username']}"></span></li>
      <li>${members[0].getUsername()} = <span th:text="${members[0].getUsername()}"></span></li>
  </ul>
  <ul>Map
      <li>${memberMap['memberA'].username} = <span th:text="${memberMap['memberA'].username}"></span></li>
      <li>${memberMap['memberA']['username']} = <span th:text="${memberMap['memberA']['username']}"></span></li>
      <li>${memberMap['memberA'].getUsername()} = <span th:text="${memberMap['memberA'].getUsername()}"></span></li>
  </ul>
  <h1>지역 변수 - (th:with)</h1>
  <div th:with="first=${members[0]}">
    <p>처음 사람의 이름은 <span th:text="${first.username}"></span></p>
  </div>
</body>
</html>