<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: common_header(~{::title}, ~{::link}, ~{::meta})}">
    <title>회원가입</title>
    <link href="/css/bootstrap_base.css" rel="stylesheet">
    <link href="/css/form-validation.css" rel="stylesheet">
    <meta name="theme-color" content="#7952b3">
</head>
<body class="bg-light">

<div class="container">
    <main class="form-regist">
        <div class="py-5 text-center">
            <h1 id="logo_icon">Modu Form</h1>
            <h2>회원가입</h2>
        </div>

        <div class="col-md-10 container-md">
            <h4 class="mb-3">회원 정보 입력</h4>
            <form class="needs-validation" novalidate>
                <div class="row g-3">
                    <div class="col-12">
                        <label for="input_id" class="form-label">아이디</label>
                        <input type="text" class="form-control" id="input_id" placeholder="아이디를 입력하세요." value="" required>
                        <div class="invalid-feedback">
                            아이디는 필수 입니다.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="input_pwd" class="form-label">비밀번호</label>
                        <input type="password" class="form-control" id="input_pwd" placeholder="비밀번호를 입력하세요." value="" required>
                        <div class="invalid-feedback">
                            비밀번호는 필수 입니다.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="username" class="form-label">이름</label>
                        <input type="text" class="form-control" id="username" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            이름을 입력해주세요.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="username" class="form-label">닉네임 <span class="text-muted">(영문)</span></label>
                        <input type="text" class="form-control" id="nickname" placeholder="사용할 닉네임을 입력해주세요." value="" required>
                        <div class="invalid-feedback">
                            사용할 닉네임을 입력해주세요. (영문만 가능)
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="birth" class="form-label">생년월일 <span class="text-muted">(YYYY/MM/DD)</span></label>
                        <input type="number" class="form-control" id="birth" placeholder="Ex) 19980101" value="" required>
                        <div class="invalid-feedback">
                            생년월일을 입력해주세요.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="gender" class="form-label">성별</label>
                        <select class="form-select" id="gender">
                            <option value="null">성별</option>
                            <option value="남자">남자</option>
                            <option value="여자">여자</option>
                        </select>
                    </div>

                    <div class="col-12">
                        <label for="email" class="form-label">이메일 <span class="text-muted">(선택)</span></label>
                        <input type="email" class="form-control" id="email" placeholder="your@example.com" value="">
                        <div class="invalid-feedback">
                            올바른 이메일을 입력해주세요.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="phone" class="form-label">휴대전화 <span class="text-muted">('-' 기호를 빼고 입력해주세요.)</span></label>
                        <input type="number" class="form-control" id="phone" placeholder="0102345xxxx" value="" required>
                        <div class="invalid-feedback">
                            올바른 전화번호를 입력해주세요.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="company" class="form-label">소속 <span class="text-muted">(선택)</span></label>
                        <input type="text" class="form-control" id="company" placeholder="소속을 입력해주세요" value="">
                    </div>
                </div>
                <hr class="my-4">

                <button class="w-100 btn btn-primary btn-lg" type="button" id="btn-register">가입 하기</button>
            </form>
        </div>
    </main>
</div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2022~ Modu Form</p>
    </footer>

    <th:block th:replace="~{layout/footer :: common_footer}" />
</body>
</html>