<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: common_header(~{::title},~{::link}, ~{::meta})}">
    <title></title>
    <link href="/css/bootstrap_base.css" rel="stylesheet">
    <link href="/css/user-main.css" rel="stylesheet">
    <meta name="theme-color" content="#7952b3">
</head>
<body>

<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong style="font-family: 'Pacifico', cursive">ModuForm</strong>
            </a>
            <a th:href="@{/users/${userSubDetails.getNickName()}}">
                <strong id="user_detail" th:text="${userSubDetails.getName()}"></strong>
            </a>
<!--            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"-->
<!--                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
        </div>
    </div>
</header>

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 style="font-family: 'Jua', sans-serif;" class="fw-light" th:text="|${userSubDetails.getName()}님 안녕하세요!!|"></h1>
                <p class="lead text-muted">
                    여러분의 설문을 등록하세요
                </p>
                <p>
                    <a href="/survey/register/1" class="btn btn-primary my-2">설문 만들기</a>
                    <a href="#" class="btn btn-secondary my-2">다른 설문 보기</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <h4>내가 작성한 설문</h4>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div th:each="surveyPreview : ${userSubDetails.surveyPreviewList}" class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"/>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em" th:text="${surveyPreview.title}">Thumbnail
                            </text>
                        </svg>

                        <div class="card-body">
                            <p th:text="${surveyPreview.description}" class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a th:href="@{/survey/id (id=${surveyPreview.getId()})}" class="btn btn-sm btn-outline-secondary">View</a>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small th:text="|응답자 : ${surveyPreview.answersCount} 명|" class="text-muted"/>
                            </div>
                            <br>
                            <div class="d-flex justify-content-between align-items-center">
                                <div></div>
                                <small th:text="|마감일 : ${#temporals.format(surveyPreview.deadLine, 'MM-dd HH:mm:ss')}|"
                                       class="text-muted"></small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="album py-5 bg-white">
        <div class="container">
            <h4>응답한 설문</h4>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div th:each="answerPreview : ${userSubDetails.answerPreviewList}" class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"/>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em" th:text="${answerPreview.surveyTitle}">
                                Thumbnail
                            </text>
                        </svg>

                        <div class="card-body">
                            <p th:text="${answerPreview.description}" class="card-text"></p>
                            <div>
                                <p th:text="|응답일 : ${#temporals.format(answerPreview.answerDate , 'MM-dd HH:mm:ss')}|"></p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a
                href="/docs/5.1/getting-started/introduction/">getting started guide</a>.</p>
    </div>
</footer>
</body>
</html>