<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: common_header(~{::title},~{::link}, ~{::meta})}">
    <title>Modu Form - 모두를 위한 설문</title>
    <link>
    <meta name="theme-color" content="#7952b3">
</head>
<body>

<header th:replace="~{layout/header :: body-header-main}">
</header>

<main>
    <div id="main_cover">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light gowun-font-ko" th:text="|${session.userNickName}님 안녕하세요!!|"></h1>
                <p class="lead text-muted">
                    여러분의 설문을 등록하세요
                </p>
                <p>
                    <a href="/surveys/form" class="btn btn-primary my-2">설문 만들기</a>
                    <a href="/surveys/list" class="btn btn-secondary my-2">다른 설문 보기</a>
                </p>
            </div>
        </div>
    </section>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">
            <h4 style="font-weight: bold" class="gowun-font-ko">작성한 설문</h4>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div th:each="surveyPreview : ${userFormDetails.surveyPreviewList}" class="col">
                    <div class="card shadow-sm">
                        <svg style="cursor: pointer"
                             th:onclick="|location.href='@{/surveys/{id} (id=${surveyPreview.getId()})}'|"
                             class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>설문으로 이동</title>
                            <rect width="100%" height="100%" fill="#293757"/>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em" th:text="${surveyPreview.title}">Thumbnail
                            </text>
                        </svg>

                        <div class="card-body">
                            <div>
                                <small style="font-weight: bold" th:text="|설문 작성자 : ${surveyPreview.author}|"
                                       class="text-muted"/>
                            </div>
                            <div id="emailHelp" th:text="${surveyPreview.description}" class="form-text">설문 설명</div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a th:href="@{/surveys/{id} (id=${surveyPreview.getId()})}"
                                       class="btn btn-sm btn-outline-primary">보기</a>
                                    <a th:href="@{/surveys/{id}/edit (id=${surveyPreview.getId()})}"
                                       class="btn btn-sm btn-outline-success">수정하기</a>
                                </div>
                                <small th:text="|응답자 : ${surveyPreview.answersCount} 명|" class="text-muted"/>
                            </div>
                            <div>
                                <small style="display: block; float: right"
                                       th:text="|작성일 : ${#temporals.format(surveyPreview.createdDate, 'MM-dd HH:mm')}|"
                                       class="text-muted"></small>
                                <small style="display: block; float: right"
                                       th:text="|마감일 : ${#temporals.format(surveyPreview.deadLine, 'MM-dd HH:mm')}|"
                                       class="text-muted"></small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="album py-5 bg-white">
        <div class="container">
            <h4 style="font-weight: bold" class="gowun-font-ko">응답한 설문</h4>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div th:each="answerPreview : ${userFormDetails.answerPreviewList}" class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"/>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em" th:text="${answerPreview.surveyTitle}">
                                Thumbnail
                            </text>
                        </svg>

                        <div class="card-body">
                            <p th:text="${answerPreview.description}" class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a th:href="@{/answers/{id} (id=${answerPreview.getId()})}"
                                       class="btn btn-sm btn-outline-primary">보기</a>
                                    <a th:href="@{/answers/{id}/edit (id=${answerPreview.getId()})}"
                                       class="btn btn-sm btn-outline-success">수정하기</a>
                                </div>
                            </div>
                            <div>
                                <small style="display: block"
                                       th:text="|응답일 :${#temporals.format(answerPreview.answerDate, 'MM-dd HH:mm')}|"
                                       class="text-muted"></small>
                                <small style="display: block"
                                       th:text="|마감일 :${#temporals.format(answerPreview.surveyEndDate, 'MM-dd HH:mm')}|"
                                       class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">KAispread's first toy project!!</p>
        <p class="mb-0">Click the following link to view the code for this project →
            <a href="https://github.com/KAispread/ModuForms">Github Repo</a></p>
    </div>
</footer>

<th:block th:replace="~{layout/footer :: common_footer}"/>

</body>
</html>